.app-container {
    background-color: var(--light);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-md);
    margin: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.app-header {
    display: flex;
    position: relative;
}

.app-title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary);
    transition: color var(--transition);
    text-align: center;
    flex-grow: 1;
}

.input-fields {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 2rem 2rem 2rem;
}

.form-input {
    padding: 1rem;
}

.input-fields .form-input {
    border: 1px solid var(--gray);
}

.btn-add {
    position: absolute;
    right: 1%;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 600px) {
    .app-container {
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .app-title {
        margin: 1.25rem;
        font-size: 2.5rem;
        text-align: left;
    }

    .input-fields {
        flex-direction: column;
    }

    .btn-add {
        top: 8%;
    }
}
